<!DOCTYPE html>
<html>
<head>
<center>
	<font color="#3AD37D" size="5" style="Font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif";
>
		<body bgcolor="#ffffff">
			<h1>SAVE SUCCESSFULY</h1><br>
			<h2>{{ name }} has been added to the Employee Database!</h2><br>
				<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
